.help-tip {
    text-align: center;
    position: absolute;
    top: 3px;
    display: inline-block;
    background-color: var(--dark0);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before {
    content: "?";
    font-weight: normal;
    color: var(--fg);
}

.tag {
    text-align: center;
    display: inline-block;
    line-height: 26px;
    cursor: default;
}

.tag p {
    font-family: "Roboto", sans-serif;
    white-space: break-spaces;
}

.tag:hover p,
.help-tip:hover p {
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.tag p,
.help-tip p {    /* The tooltip */
    display: none;
    z-index: 10;
    font-weight: normal;
    text-align: left;
    background-color: var(--bg);
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    margin-top: 2px;
    margin-right: 6px;
}

.tag p:before,
.help-tip p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color: var(--bg);
    right:10px;
    top:-12px;
}

.tag p:after,
.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
