:root {
    --bg: var(--dark0);
    --layer: var(--dark1);
    --layer2: #433f3d;
    --fg: var(--light0);
    --success: var(--faded_green);
    --error: var(--faded_red);
    --warning: var(--faded_yellow);
    --fatal: var(--faded_purple);
    --fade: rgba(251, 241, 199, 0.8);
    --dim: rgba(251, 241, 199, 0.3);
}
body, html {
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overscroll-behaviour-y: none;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

a, a:visited, a:active, a:link {
    color: var(--bright_green);
}

h1 {
    font-family: 'Nova Cut', sans-serif;
    margin-top: 10px;
    font-size: 40px;
}

h2, h3 {
    margin: 10px 0;
    position: relative;
}

#mod-details h2, #mod-details p {
    margin: 10px;
}


.screenshot {
    cursor: pointer !important;
    transition: color 0.2s ease-in-out;
}

.screenshot:hover {
    color: var(--fg);
}

.help {
    transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in-out;
    max-height: 260px;
}

.help p {
    margin: 10px;
}

main {
    max-width: 80%;
    transition: max-width 0.3s ease-in-out;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    padding-top: 0;
    padding-bottom: 0;
    margin: 3px 0;
}

li {
    margin-bottom: 5px;
}

.suggestion {
    margin: 10px;
}

.suggestion-text {
    margin-bottom: 10px;
}

#file-input {
    border: 5px dashed var(--fg);
    cursor: pointer;
    color: var(--fg);
    opacity: 0.7;
    letter-spacing: 5px;
    padding: 50px 30px;
    width: 50%;
    margin: auto;
    font-size: 30px;
    border-radius: 35px;
    transition: opacity 0.2s ease-in-out;
    margin-bottom: 30px;
}

#file-input:hover {
    opacity: 1;
}

.dragging {
    border-color: var(--fg) !important;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#summary {
    display: flex;
    margin: auto;
    width: 700px;
    flex-direction: column;
}

.fira {
    font-family: "Fira Code", monospace;
}

.bold {
    font-weight: bold;
}

.selector-title {
}

.summary-icon {
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    margin-top: 6px;
    justify-self: center;
}

.pad {
    margin: 5px;
}

.indent {
    margin-left: 5px;
}

#status {
    display: none;
    font-family: "Fira Code", monospace;
}

.explanation {
    width: 100%;
    justify-content: stretch;
    display: flex;
}

.explanation span {
    flex-grow: 1;
}

.time-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.time-description {
    display: flex;
    justify-content: space-around;
}

.time-block {
    display: inline-block;
    height: 20px;
    min-width: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    font-family: "Fira Code", monospace;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.time-block:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.time-block:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.progress {
    display: block;
    margin: 10px 0;
    min-height: 5px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.progress-bar {
    background-color: var(--faded_green);
    max-width: 0%;
    height: 100%;
}

textarea {
    background-color: transparent;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    resize: none;
    min-height: 100px;
    background-color: var(--dark0_hard);
    border: 2px solid var(--layer2);
    border-radius: 5px;
    color: var(--fg);
    font-family: "Fira Code", monospace;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

textarea:hover, 
textarea:active,
textarea:focus {
    opacity: 1;
}

input[type=text] {
    background-color: transparent;
    padding: 5px;
    outline: none;
    border: 2px solid var(--layer2);
    border-radius: 5px;
    color: var(--fg);
    font-family: "Fira Code", monospace;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

input[type=text]:hover, 
input[type=text]:active,
input[type=text]:focus {
    opacity: 1;
}

button {
    margin-top: 10px;
    padding: 5px;
    border: 2px solid var(--dark2);
    color: var(--dark0);
    background-color: var(--dark2);
    color: var(--light0);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    transition: background-color 0.1s ease-in-out, border-color 0.2s ease-in-out, color 0.1s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark1);
}

button:active {
    background-color: var(--dark0);
    border-color: var(--dark2);
    cursor: default;
}

button.active {
    border-color: var(--faded_green);
}

.search-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 0 !important;
}

input.search {
    height: 100%;
    width: 50%;
    min-width: 220px;
    box-sizing: border-box;
}

pre#directory, pre.directory {
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px auto;
    overflow-x: auto;
    max-width: 80%;
}

#version::before { content: "Version"; }
#build::before { content: "Unity Version"; }
#platform::before { content: "Platform"; }
#hmd::before { content: "HMD Type"; }
#model::before { content: "HMD Model"; }
#renderer::before { content: "GPU"; }
#vram::before { content: "VRAM"; }
#driver::before { content: "GPU Driver Version"; }

.split {
    display: flex;
    justify-content: space-between;
}

.event-prop {
    border-bottom: 1px dotted var(--dim);
    padding-bottom: 3px;
}

.split:not(:first-of-type) {
    margin-top: 5px;
}

.thin {
    max-width: 900px;
}

#exceptions {
    display: flex;
    justify-content: space-around;
}

.analysis {
    min-height: 0;
    display: flex;
    flex-grow: 1;
}

#mod-list {
    min-width: 300px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--dark0_hard);
    border-radius: 5px;;
    padding: 5px 10px;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

#mod-list::-webkit-scrollbar {
    display: none;
}

#mod-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    background-color: var(--dark0_hard);
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: scroll;
}

#mod-details::-webkit-scrollbar {
    display: none;
}

.vsep {
    display: block;
    margin: 0 10px;
    min-width: 5px;
    max-height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
}

.hsep {
    display: block;
    margin: 10px 0;
    min-height: 5px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
}

.mod {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: var(--dark0_soft);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
    text-align: left;
    white-space: nowrap;
}

.mod:hover {
    background-color: var(--dark1);
}

.mod.selected {
    background-color: var(--dark2);
}

.mod-errors {
    position: absolute;
    right: 5px;
    top: 10px;
}

.mod-title {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.mod-error-count {
    padding: 5px;
    margin-left: 5px;
    color: var(--bright_yellow);
    /* font-weight: bold; */
}

.mod-exception-count {
    padding: 5px;
    margin-left: 5px;
    color: var(--bright_red);
    /* font-weight: bold; */
}

.normal {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.extra-space {
    margin-left: 5px;
}

.load-error-list {
    font-family: "Fira Code", monospace;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow-y: hidden;
}

.exception-preview {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.exception-mod {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    border-radius: 5px;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.exception-mod:hover {
    background-color: var(--bg);
}

.certainty-certain {
    border-color: var(--neutral_blue);
}

.certainty-sure {
    border-color: var(--neutral_green);
}

.certainty-likely {
    border-color: var(--neutral_orange);
}

.certainty-unsure {
    border-color: var(--neutral_red);
}

.exception-level {
    float: right;
    flex-shrink: 1;
    break-inside: avoid;
    display: flex;
    justify-content: stretch;
    gap: 10px;
    min-width: 0;
}

.select {
    user-select: text;
}

.hidden { display: none; }

#events {
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}

.event {
    margin: 10px 0;
    padding-left: 20px;
    user-select: none;
    color: var(--fg);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.event:last-of-type {
    margin-bottom: 0px;
}

.global > .event-title {
    font-size: 20px;
    margin: auto;
}

.global .event-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exception .event-title {
    font-family: "Fira Code", monospace;
}

.event-time {
    word-break: keep-all;
    break-inside: avoid;
}

.event-container {
    background-color: var(--layer);
    transition: background-color 0.2s ease-in-out;
    padding: 10px;
}
.event-container:has(.expand){
    cursor: pointer;
}

.event-container:has(.expand):hover {
    background-color: var(--layer2);
}

.exception-title {
    flex-shrink: 0;
    word-break: break-word;
}

.label-div {
    width: 20px;
    height: 100%;
}

.exception {
    background-color: var(--error);
    position: relative;
}

.event:first-of-type {
    margin-top: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.event:first-of-type > .event-container {
    border-top-right-radius: 10px;
}

.event:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.event:last-of-type > .event-container {
    border-bottom-right-radius: 10px;
}

.global {
    background-color: var(--success);
}

.exception-lines {
    display: grid;
    grid-template-columns: 30px 1fr;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

.exception-extra {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

.exception-area {
    font-family: "Fira Code", monospace;
    break-inside: avoid;
    overflow-x: hidden;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.exception-area-level {
    font-family: "Fira Code", monospace;
    break-inside: avoid;
    overflow-x: hidden;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.exception-line-location, .exception-line-filename, .exception-line-line {
    font-family: "Fira Code", monospace;
    line-break: anywhere;
}

.exception-preview-flex {
    font-family: "Fira Code", monospace;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.no-break {
    break-inside: avoid;
    display: inline-block;
}

.exception-line-filename, .exception-line-line {
    color: var(--light4);
}

.func-part {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

span.prefix {
    font-family: "Fira Code", monospace;
}

.block {
    display: inline-block;
}

.italic {
    font-style: italic;
}

.exception-line {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.align-right {
    text-align: right;
    justify-content: right;
}

.align-left {
    text-align: left;
    justify-content: left;
}

.fade  {
    color: var(--fade);
}

.dim {
    color: var(--dim);
}

.arg {
    display: inline-block;
}

.arg.type {
    color: var(--neutral_yellow);
}

.event-hidden {
    display: none;
}

.search-hidden {
    display: none;
}

.event-details {
    margin-top: 10px;
}

.event-tag-list {
    display: flex;
    flex-flow: row wrap;
}

.event-tag {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    display: inline-block;
}

.count {
    margin-right: 5px;
}

.tags {
    position: absolute;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
}

.tag {
    padding: 2px 10px;
    position: relative;
}

.tag-icon {
    padding: 0 5px;
    position: relative;
    color: rgba(255, 255, 255, 0.2);
}

table.auto-table tr td:first-child {
    min-width: 150px;
    max-width: 900px;
}

.table-wrapper {
    width: 80%;
    max-height: 700px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    box-sizing: border-box;
}

#mod-details table {
    margin: 10px;
}

tr {
    padding: 10px;
}

td:not(:last-of-type) {
    border-right: 1px solid var(--fg);
}

tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--fg);
}
th {
    border-bottom: 2px solid var(--fg);
    font-weight: bold;
    padding: 5px;
}
td {
    padding: 10px;
    vertical-align: top;
    word-break: break-word;
}
p {
    margin: 0;
}

pre, code, .code {
    font-family: "Fira Code", monospace;
}
pre {
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

div.json {
    font-family: "Fira Code", monospace;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

td div.json:first-child:last-child {
    margin: 0;
}

.notable {
    border-color: rgba(0, 0, 0, 0) !important;
}

code.padded {
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}

.color-success {
    background-color: var(--success);
    color: var(--fg);
}

.color-warning {
    background-color: var(--warning);
    color: var(--fg);
}

.color-error {
  background-color: var(--error);
  color: var(--fg);
}

.color-fatal {
    background-color: var(--fatal);
}

.color-inventory {
    background-color: var(--neutral_blue);
}

.color-skills {
    background-color: var(--neutral_aqua);
}

.color-level {
    background-color: var(--neutral_yellow);
}

.color-gamemode {
    background-color: var(--faded_blue);
}

.color-text-info { color: var(--neutral_blue)}
.color-text-warn { color: var(--warning)}
.color-text-error { color: var(--neutral_red)}
.color-text-fatal { color: var(--fatal)}

.area-set {
    padding: 5px 0;
}

.area-title {
    font-size: 20px;
}

.area-list {
    padding-left: 10px;
}

.area-entry::before {
    content: "-> ";
    font-family: "Fira Code", monospace;
}

.inventory-entry-add {
    color: var(--faded_green);
}
.inventory-entry-add::before {
    content: "+ ";
    font-family: "Fira Code", monospace;
}
.inventory-entry-remove {
    color: var(--neutral_red);
}
.inventory-entry-remove::before {
    content: "- ";
    font-family: "Fira Code", monospace;
}

.entry::before {
    content: "- ";
    font-family: "Fira Code", monospace;
}

@media screen and (max-width: 1500px) {
    .preview-filename {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    html, body {
        margin: 0;
        height: 100%;
    }
    main {
        width: 100%;
        max-width: 100%;
    }
    .exception .event-title {
        word-break: break-word;
    }
    #events {
        width: 90%;
    }
    section.analysis {
        flex-direction: column;
    }
    .help {
        max-height: initial;
    }
    div#file-input {
        font-size: 20px;
        width: 80%;
    }
    section.analysis > .vsep {
        display: block;
        margin: 10px 0;
        min-height: 5px;
        width: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.4);
    }
    pre {
        display: block;
        overflow-x: auto;
    }
    #mod-list {
        flex-direction: row;
    }
    .mod {
        margin: 0;
    }
    .mod-errors {
        position: initial;
        display: inline ruby;
    }
    .selector-title, .mod-title, .mod-headers {
        display: inline ruby;
        break-inside: avoid;
    }
    #mod-list {
        gap: 5px;
        padding: 5px;
        min-height: 39px;
    }
    #mod-list > .hsep {
        display: block;
        margin: 0;
        min-width: 5px;
        max-width: 5px;
        max-height: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .event-time {
        display: none;
    }
    .thin {
        max-width: 100%;
    }
    .exception-title {
        display: block;
        margin-bottom: 5px;
    }
    .exception-area, .exception-tilde {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .exception-area-level {
        display: none;
    }

    .func-part:not(.func-part-1), .func-part-arrow {
        display: none;
    }
}
