body {
    background-color: #333344;
    color: #dddddd;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h2 {
    position: relative;
}

main {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

ul {
    padding-top: 0;
    padding-bottom: 0;
    margin: 3px 0;
}

#file-input {
    border: 5px dashed #bbbbbb;
    cursor: pointer;
    color: #999999;
    letter-spacing: 5px;
    padding: 50px 30px;
    width: 50%;
    margin: auto;
    font-size: 30px;
    border-radius: 35px;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin-bottom: 30px;
}

#file-input:hover {
    border-color: white !important;
    color: #dddddd !important;
}

.dragging {
    border-color: white !important;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
hr {
    border: none;
    border-top: 2px dashed rgba(255, 255, 255, 0.4);
    margin: 10px 0;
}

#summary {
    display: flex;
    margin: auto;
    width: 700px;
    flex-direction: column;
}

.summary-item {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: 40px 1fr;
    background-color: #4a4a5a;
    display: grid;
    margin: 10px;
}

.fira {
    font-family: "Fira Code", monospace;
}

.summary-icon {
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    margin-top: 6px;
    justify-self: center;
}

.cause, .solution {
    padding: 10px;
}

.solution {
    grid-column-start: 2;
    display: flex;
}
.solution > span:first-child {
    margin-right: 5px;
}

.game-info {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #444455;
    display: none;
}

.game-info::before {
    color: #aaaaaa;
    border-right: 1px solid #666666;
    padding-right: 5px;
    margin-right: 5px;
}

pre#directory, pre.directory {
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px auto;
    overflow-x: auto;
    max-width: 80%;
}

#version::before { content: "Version"; }
#build::before { content: "Unity Version"; }
#platform::before { content: "Platform"; }
#hmd::before { content: "HMD Type"; }
#model::before { content: "HMD Model"; }
#renderer::before { content: "GPU"; }
#vram::before { content: "VRAM"; }
#driver::before { content: "GPU Driver Version"; }

.split {
    display: flex;
    justify-content: space-between;
}

#exceptions {
    display: flex;
    justify-content: space-around;
}

canvas {
    max-width: 40%;
    display: inline-block;
    max-height: 400px;
}

.mod {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #444455;
}

.missing-data-item {
    font-family: "Fira Code", monospace;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #444455;
}

.normal {
    font-family: "Roboto", sans-serif;
}

.line-left {
    border-left: 1px solid #666666;
    padding-left: 5px;
    margin-left: 5px;
}
.line-right {
    border-right: 1px solid #666666;
    padding-right: 5px;
    margin-right: 5px;
}

.load-error-count {
    padding: 5px;
    background-color: #555566;
    border-radius: 5px;
    margin-right: 10px;
}

.load-error-name {
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    user-select: none;
    cursor: pointer;
    padding: 10px 0;
}
.load-error-name:hover {
    background-color: #4a4a5a;
}

.load-error-list {
    font-family: "Fira Code", monospace;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow-y: hidden;
}

.load-error {
    display: flex;
    flex-direction: column;
    display: block;
    width: 60%;
    margin: auto;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #444455;
    color: #bbbbbb;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease-in-out;
}

.load-error:hover {
    background-color: #4a4a5a;
}

.load-error:not(:first-of-type) {
    border-top: 1px solid #555566;
}

.load-error:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.load-error:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.load-error:last-of-type .load-error-error {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.load-error-file {
    padding-bottom: 10px;
    display: block;
    font-size: 15px;
}

.load-error-error {
    display: block;
    user-select: text;
    width: 100%;
    padding: 0 30px;
    margin-top: 0;
    box-sizing: border-box;
    transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out, background-color 0.2s ease-in-out;;
    max-height: 0;
    overflow-y: hidden;
}

.select {
    user-select: text;
}

.expanded {
    background-color: #555566;
    padding: 10px 30px;
    max-height: 200px;
}

.category-expanded {
    max-height: inherit;
    margin: 10px 0;
}

.hidden { display: none; }

#events {
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}

.event {
    padding: 10px;
    margin: 10px 0;
    user-select: none;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.global > .event-title {
    font-size: 20px;
    width: 60%;
    margin: auto;
}

.exception > .event-title {
    font-family: "Fira Code", monospace;
}

.exception-title {
    padding-top: 5px;
    display: inline-block;
    font-style: italic;
}

.exception {
    background-color: #883333;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.event:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.event:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.global {
    background-color: #338833;
}

.exception-lines {
    display: grid;
    grid-template-columns: 30px 1fr;
    background-color: #662222;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    max-width: 90%;
    margin: auto;
    padding: 10px;
}

.exception-line-location, .exception-line-filename, .exception-line-line {
    font-family: "Fira Code", monospace;
    line-break: anywhere;
}

.exception-line-filename {
    color: rgba(255, 255, 255, 0.5);
}

span.prefix {
    font-family: "Fira Code", monospace;
}

.block {
    display: inline-block;
}

.italic {
    font-style: italic;
}

.exception-line {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.fadet{
    color: rgba(255, 255, 255, 0.5);
}

.dim {
    color: rgba(255, 255, 255, 0.3);
}

.arg {
    display: inline-block;
}

.event-hidden {
    display: none;
}

.event-details {
    margin-top: 10px;
}

.count {
    left: 0px;
    position: absolute;
    padding: 2px 10px;
}

.tags {
    position: absolute;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
}

.tag {
    padding: 2px 10px;
    position: relative;
}

.table-wrapper {
    width: 80%;
    max-height: 700px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-spacing: 0 10px;
}

tr {
    padding: 10px;
}
tr:not(:last-of-type) td {
    border-bottom: 1px solid #999999;
}
th {
    border-bottom: 2px solid #bbbbbb;
    font-weight: normal;
    padding: 5px;
}
td {
    padding: 5px;
}
p {
    margin: 0;
}

pre, code, .code {
    font-family: "Fira Code", monospace;
}
pre {
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

code {
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* .hover-mod-name::before { */
    /* content: ' - ' */
/* } */
/* .hover-mod-name { */
    /* margin-left: 10px; */
/* } */

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
    #events {
        width: 90%;
    }
}
